doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")

  body
    //ng-cloak -> {{username}} örneğin $scope ile controller'dan böyle bir ifade çekmemiz gerekirse
    //sayfa ilk açıldığında html bunu direkt yazı olarak algılıyor fakat sonradan kod compile edildiğinde
    //normale dönüyor. Bu işi önlemek için bu yapıyı kullanılırız.
    div(ng-app="chatdad", ng-cloak)
      block content


  block javascripts
    script(src="/angular/angular.min.js")
    script(src="/javascripts/main.js")
